/* index.css or App.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #0d0d0d;
  color: #f0f0f0;
}

h1,
h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p,
span,
li,
a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

label,
small,
.caption {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
